.header{
   
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: maroon;
}
.para{
    
    margin-left: 300px;
    
    margin-right: 300px;
    font-size: 20px;
    line-height: 10vh;
    text-align: justify;
  text-justify: inter-word;
    
}