<header></header>
<div class="main-div">
    <mat-card  class ="main-card"  style="width:15rem;">
        <mat-card-header class="mat-header-title">
            <mat-card-title >Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field appearance="standard">
                                <mat-label class="label-first-name">Enter Your Email</mat-label>
                                <input type="email" matInput placeholder="Email">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>eg. someone@something.com</mat-hint>
                            </mat-form-field>

                        </td>
                    </tr>
                    <tr>
                        <td>

                            <mat-form-field appearance="standard">
                                <mat-label>Enter Your Password</mat-label>
                                <input type="password" required matInput placeholder="Password">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button class="button-background" mat-raised-button (click)="login()" color="primary">Login</button>
            <button class="button-background1" mat-raised-button (click)="openDialog()" color="primary">Sign Up</button>
        </mat-card-actions>
    </mat-card>
</div>