<header></header>
<div class="main-div">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <mat-card class="main-card" style="width:15rem;">
            <mat-card-header class="mat-header-title">
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field appearance="standard">
                                    <mat-label class="label-first-name">Enter Your Email</mat-label>
                                    <input id="loginemail" name="email1" type="email" matInput placeholder="Email" ngModel required>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>eg. someone@something.com</mat-hint>
                                </mat-form-field>

                            </td>
                        </tr>
                        <tr>
                            <td>

                                <mat-form-field appearance="standard">
                                    <mat-label>Enter Your Password</mat-label>
                                    <input id="loginpassword" name="password1" type="password"  matInput placeholder="Password" ngModel required>
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                
            </mat-card-content>
            <mat-card-actions>
                <button class="button-background"  mat-raised-button [disabled]="!loginForm.valid" color="primary">Login</button>
                <button class="button-background1" mat-raised-button (click)="openDialog()" color="primary">Sign
                    Up</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>