  <div>
    <mat-toolbar class="example-header">
    
      <div class="example-button-row">
      <button class="button-background" mat-button routerLink="/">My Project</button>      
        <button class="button-background" mat-button [routerLink]="['/about']">About</button>
        <button class="button-background" mat-button [routerLink]="['/login']">Login/SignUp</button>
        <button class="menu-button" mat-button >TimeTable</button>
      </div>
    
  </mat-toolbar>

<router-outlet></router-outlet>
</div>