<h1 style="text-align: center;">Sign Up Form</h1>
<mat-divider></mat-divider>
<form #signupForm="ngForm" (ngSubmit)="register(signupForm)">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field appearance="standard">
                    <mat-label>Enter Your First Name</mat-label>
                    <input id="registerFirstName" name="firstName" matInput placeholder="First Name" ngModel required type="text">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>eg. Uday</mat-hint>
                </mat-form-field>

            </td>
            <td>
                <mat-form-field style="text-align: left;" appearance="standard">
                    <mat-label>Enter Your Last Name</mat-label>
                    <input id="registerLastName" name="lastName" matInput placeholder="Last Name" ngModel required type="text">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>eg. Garg</mat-hint>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field style="text-align: left;" appearance="standard">
                    <mat-label>Enter Your email</mat-label>
                    <input id="registerEmail" name="email" type="email" matInput placeholder="Email" ngModel required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>eg. someone@something.com</mat-hint>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field style="text-align: left;" appearance="standard">
                    <mat-label>Enter Your Password</mat-label>
                    <input id="registerPassword" name="password" type="password" matInput placeholder="Password" ngModel required>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </td>
        </tr>
    </table>



<div mat-dialog-actions>
    <button mat-raised-button color="primary" (onClick)="openSnackBar()" [disabled]="!signupForm.valid">Register</button>
    <button mat-raised-button color="primary" matDialogClose>Cancel</button>
</div>
</form>